/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
:root.theme-light {
}


.page.theme_light {
  --background-color: #FFF1F7;
  --accent-color: #FF8DCB;
  --title-color: #FFC2E6;
  --header-decorated-element-color: #FFF1F7;
  --article-title-color: #353430;
  --paragraph-text-color: #353430;
  --decorated-element-color: #353430;
  --button-border-color: rgba(53, 52, 48, 0.4);
  --background-image: url(../images/cover-image-light.png);
  --text-color: #353430;
}





