/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --section-indent: clamp(10px, 0.029rem + 2.54vw, 20px);
  --section-indent-tablet: clamp(1.25rem, 1.25rem + 0vw, 1.25rem);
  --section-indent-desktop: clamp(1.25rem, -0.288rem + 2.4vw, 1.875rem);
  --background-color: #FFF1F7;
  --accent-color: #FF8DCB;
  --title-color: #FFC2E6;
  --header-decorated-element-color: #FFF1F7;
  --article-title-color: #353430;
  --paragraph-text-color: #353430;
  --decorated-element-color: #353430;
  --button-border-color: rgba(53, 52, 48, 0.4);
  --background-image: url(../images/cover-image-light.png);
  --text-color: #353430;
  --font-family: 'IBM Plex mono';
  --title-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --font-size: 18px;
  --line-height: 23.4px;
}
